.card-elem {
    width: 500px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--card-color);
}

.mid-section {
    background-color: var(--card-color);
    color: var(--primary-text-color);
}

.linkedin {
    font-size: 1.25rem;
    text-align: center;
    padding: 50px;
}