.card-elem {
    background-color: azure;
    width: 500px;
    height: 100%;
    border-radius: 10px;
}

.mid-section {
    background-color: #15161D;
    color: #EDEDED;
}

.linkedin {
    text-align: center;
    padding: 50px;
}