@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

body {
    display: flex;
    justify-content: center;
    background-color: #1F2027;
    font-family: "Red Hat Text", sans-serif;
}
